.LapWrapper {
	height: fit-content;
	width: 300px;
	background-color: #6c79ff;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4px;
}
.LapContent {
	text-align: center;
	padding: 10px 20px;
}
